#maps-main-container {
    width: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 auto;
}

.outer-container {
    grid-column: 1;
    display: grid;
    grid-template-columns: 40% 1fr;
}
.map-nav {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapImage {
    width: 80%;
}

.map-title{
    text-align: center;
    margin: 80px auto;
}

.home-link {
    display: inline-block;
    padding: 12px 10px;
    margin-top: 25px;
    border-radius: 4px;
    background-color: #12529348;
    transition: ease-in 0.5s;
    text-align: center;
}

.home-link:hover {
    background-color: #125293;
    color: white;
}