#maps-main-container {
    width: 80%;
    margin: auto;
}

.maps-main-content {
    display: grid;
    grid-template-columns: 30% 70%;
}

.maps-main-left {
    grid-column: 1;
    background-color: goldenrod;
}

.maps-main-right {
    grid-column: 2;
    background-color: aquamarine;
}

.mapImage {
    width: 100%;
}

#maps-nav {
    display: flex;
    justify-content: space-around;
}