#maps-main-container {
    width: 80%;
    margin: auto;
}

.outer-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#maps-main-info1 #maps-main-info2 #maps-main-info3 {
    grid-column: 1;
    background-color: goldenrod;
}

#maps-main-map1 #maps-main-map2 #maps-main-map3 {
    grid-column: 2;
    background-color: aquamarine;
}

#maps-main-data1 #maps-main-data2 #maps-main-data3 {
    grid-column: 3;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mapImage {
    width: 100%;
}