.marinelife-main-container {
    margin: 10px auto;
    width: 80%;
    align-content: center;
}  

.marinelife-main-content {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
}

.marinelife-main-images {
    display: flex;
}

.marinelife-main-images img {
    object-fit: cover;
    padding: 5px;
    flex-basis: auto;
    flex-grow: 1;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow-y: scroll;
}

tbody tr:nth-child(odd) {
    background-color: #9bd8db;
}
  
tbody tr:nth-child(even) {
    background-color: #9bd8db7e;
}

tbody th, thead th:nth-child(1) {
    min-width: 140px;
    position: sticky;
    left: 0;
    background-color: #9bd8db;
    padding: 5px 15px;
}

thead th:nth-child(1) {
    background-color: white;
}

tbody td {
    min-width: 45px;
    padding: 5px;
}

caption {
    text-align: start;
}

td {
    text-align: center;
}

@media (max-width: 730px) {
    .marinelife-main-container { 
        display: flex;
        flex-direction: column;
    }
    .marinelife-main-content {
        padding-right: 0;
    }
};

